/* Estilos generales */
.navbar-container {
    width: 100%;
    height: 58px;
    background-color: #C4E454;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
  
  .navbar-sub-container {
    display: flex;
    align-items: center;
    gap: 55px;
    width: 100%;
  }
  
  .burger-menu {
    width: 313px;
    height: 41px;
    display: flex;
    align-items: center;
    border-radius: 20.5px;
    background-color: #EFF400;
    padding-left: 20px;
  }
  
  .burger-menu-icon {
    width: 31px;
    height: 31px;
    color: #AAAAAA;
  }
  
  .burger-menu p {
    font-size: 20px;
    color: #438439;
    margin-left: 13px;
  }
  
  .navbar ul {
    display: flex;
    gap: 54px;
    font-size: 20px;
    font-weight: 600;
    color: #438439;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 767px) {
    .navbar-sub-container {
      gap: 20px;
    }
  
    .burger-menu {
      width: 200px;
      padding-left: 10px;
    }
  
    .burger-menu p {
      font-size: 16px;
    }
  
    .navbar ul {
      gap: 20px;
      font-size: 16px;
    }
  }
  
  /* Estilos para pantallas medianas */
  @media (min-width: 768px) and (max-width: 1024px) {
    .navbar-sub-container {
      gap: 30px;
    }
  
    .burger-menu {
      width: 250px;
    }
  
    .navbar ul {
      gap: 30px;
      font-size: 18px;
    }
  }
  
  /* Estilos para pantallas grandes */
  @media (min-width: 1025px) {
    .navbar-container {
      padding: 0 320px;
    }
  }